{% extends "base_page.html" %}

{% block page-title %}
Физика, математика, термины
{% endblock %}

{% block page-lead %}
Это страничка проекта про изучение математики и физики
{% endblock %}

{% block content %}
<div class="container px-4 py-5" id="project-contents">
    <h2 class="pb-2 border-bottom">Что есть в этом проекте</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="col d-flex">
            <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#cpu-fill"></use>
                </svg>
            </div>
            <div>
                <h3 class="fs-2">Список терминов</h3>
                <p>Простая страница с контентом, который разложен в таблицу. Содержимое таблицы находится в текстовом
                    файле.</p>
                <a href="/terms-list" class="btn btn-primary">Посмотреть</a>
            </div>
        </div>
        <div class="col d-flex">
            <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#cpu-fill"></use>
                </svg>
            </div>
            <div>
                <h3 class="fs-2">Форма для заполнения термина</h3>
                <p>Пример POST-запроса, который отправится после того, как вы заполните форму. Он допишет термин в ваш
                    текстовый файл, и если всё будет успешно — вас перенаправят на страницу терминов</p>
                <a href="/add-term" class="btn btn-primary">
                    Заполнить
                </a>
            </div>
        </div>
        <div class="col d-flex">
            <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#cpu-fill"></use>
                </svg>
            </div>
            <div>
                <h3 class="fs-2">Статистика</h3>
                <p>Сколько терминов уже есть? Какой они длины?</p>
                <a href="/stats" class="btn btn-primary">
                    Изучить
                </a>
            </div>
        </div>
        <div class="col d-flex">
            <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#cpu-fill"></use>
                </svg>
            </div>
            <div>
                <h3 class="fs-2">Полезные видео ссылки</h3>
                <p>Этим ссылки помогут больше понять физику и математику</p>
                <a href="/video-reference-list" class="btn btn-primary">
                    Изучить
                </a>
            </div>
        </div>
        <div class="col d-flex">
            <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#cpu-fill"></use>
                </svg>
            </div>
            <div>
                <h3 class="fs-2">Форма для заполнения ссылок</h3>
                <p>POST-запрос по которому в базу данных записывается информация о ссылке на видеофайл про физику или математику</p>
                <a href="/video-reference-add" class="btn btn-primary">
                    Заполнить
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
